/* CSS Document */

nav {
	background: #000792;
}

.nav-link {
	color: #F2DF00;
	font-size: 20px;
}

.nav-link:hover {
	color: #F2DF00;
}

.navbar-toggler, .navbar-toggler-collapse {
	background-color: #F2DF00;
	padding: 10px;
}

.fas {
	color: #000792;
}

/* Menu Text (optional) */
/*
.fas p {
	margin-top: 5px;
	margin-bottom: -10px;
}
*/

.btn-outline-sp {
	color: #F2DF00;
  	background-color: transparent;
  	background-image: none;
  	border-color: #F2DF00;
}

.btn-outline-sp:hover {
  color: #000792;
  background-color: #F2DF00;
  border-color: #F2DF00;
}